@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

main {
  margin-top: 72px;
}

@media (min-width: 992px) {
  main {
    margin-top: 94px;
  }
}
#backtop {
  border: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: 0.5s;
}

#backtop img {
  width: 30px;
  height: 30px;
}

.container {
  max-width: 1294px !important;
  padding: 0 12px !important;
  margin: 0 auto;
}

.navbar {
  background-color: #1C1E53 !important;
  padding: 16px 0 !important;
}

.navbar-expand-lg .navbar-nav {
  align-items: center;
  padding-right: 0 !important;
}

.navbar-toggler {
  color: #fff !important;
  background-color: #fff !important;
  border-color: #fff !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 16px !important;
  color: #BBBBCB !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 28px !important;
}

.navbar-nav .nav-link.active {
  color: #fff !important;
}

.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
  padding: 16px 48px !important;
  color: #fff !important;
  border: 1px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  margin-left: 32px;
}

.offcanvas.show {
  background-color: #1C1E53 !important;
}
.offcanvas.show .navbar-nav .nav-item .nav-link {
  margin: 10px 0 !important;
}

.offcanvas-header .btn-close {
  background-color: #fff !important;
  border-radius: 50%;
  opacity: 1 !important;
}

.home {
  background-color: #1C1E53 !important;
  padding: 50px 0 !important;
}
.home__title {
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  color: #fff !important;
  margin-bottom: 24px;
}
.home__text {
  max-width: 562px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #fff !important;
  opacity: 0.7;
  margin-bottom: 48px;
}
.home__btn__group {
  max-width: 490px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto !important;
}
.home__btn {
  padding: 16px 56px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  border-radius: 41px;
  color: #fff !important;
  transition: 0.5s;
}
.home__btn:hover {
  color: #1b1c2b !important;
  background-color: #FCD980;
}

.work {
  padding: 50px 0 !important;
  background-color: #F4F6FC !important;
}
.work__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938 !important;
  margin-bottom: 16px;
}
.work__text {
  max-width: 405px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938 !important;
  opacity: 0.7;
  margin-bottom: 16px;
}
.work__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #2405F2 !important;
}
.work__card .card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #282938 !important;
  margin: 16px 0 8px 0;
}
.work__card .card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938 !important;
  opacity: 0.7;
}

.projects {
  padding: 50px 0;
}
.projects__title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938 !important;
}
.projects__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938 !important;
  white-space: nowrap;
}
.projects__top {
  margin-bottom: 64px;
}
.projects__left {
  position: relative !important;
  overflow: hidden;
}
.projects__left:hover .overlay-left {
  transform: translateX(0);
}
.projects__right__card {
  position: relative;
  overflow: hidden;
}
.projects__right__card:hover .overlay-right {
  transform: translateX(0);
}
.projects .overlay-left {
  padding: 50px 35px 76px 48px;
  top: 0;
  transform: translate(-500px);
  position: absolute;
  max-width: 396px;
  height: 100%;
  background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  transition: 0.5s;
}
.projects .overlay-left__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 16px;
}
.projects .overlay-left__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  opacity: 0.8;
  margin-bottom: 40px;
}
.projects .overlay-left__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #FCD980;
}
.projects .overlay-left__btn img {
  width: auto !important;
}
.projects .overlay-right {
  padding: 50px 96px 45px 56px;
  top: 0;
  transform: translate(-800px);
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
.projects .overlay-right__title {
  max-width: 313px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 10px;
}
.projects .overlay-right__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #FCD980;
}
.projects .overlay-right__btn img {
  width: auto !important;
}
.projects .row img {
  width: 100%;
}

@media (min-widh: 768px) {
  .projects__right .overlay-right {
    width: 94.44%;
  }
}
@media (min-width: 992px) {
  .home,
  .work {
    padding: 126px 0 !important;
  }
}
#readcase .Design_case {
  max-width: 1050px !important;
  padding: 0 12px !important;
  margin: 0 auto;
}
#readcase .Design_case .Design_case_title_sub {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
  opacity: 0.8;
  padding-top: 120px;
}
#readcase .Design_case .Design_case_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
  padding-top: 12px;
  max-width: 646px;
}
#readcase .Design_case img {
  width: 100%;
  padding-top: 48px;
}
#readcase .Design_case ul {
  padding-top: 50px;
  padding-bottom: 20;
  display: flex;
  justify-content: space-between;
}
#readcase .Design_case ul a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 36px;
  color: #282938;
}
#readcase .Design_case ul a:hover {
  color: #1c1e53;
}
#readcase .Design_about {
  max-width: 826px !important;
  padding: 0 12px !important;
  margin: 0 auto;
}
#readcase .Design_about .Design_about_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  padding-top: 80px;
}
#readcase .Design_about .Design_about_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  max-width: 837px;
}
#readcase .Design_about ul {
  list-style: disc;
}
#readcase .Design_about ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  color: #282938;
  opacity: 0.7;
}
#readcase .Design_about img {
  width: 100%;
  padding-top: 60px;
}
#readcase .Design_howdo {
  max-width: 826px !important;
  padding: 0 12px !important;
  margin: 0 auto;
}
#readcase .Design_howdo .Design_howdo_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  padding-top: 80px;
}
#readcase .Design_howdo .Design_howdo_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  max-width: 837px;
}
#readcase .Design_howdo ul {
  list-style: disc;
  padding-bottom: 20px;
}
#readcase .Design_howdo ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  color: #282938;
  opacity: 0.7;
}
#readcase .Design_button {
  max-width: 826px !important;
  padding: 0 12px !important;
  margin: 0 auto;
}
#readcase .Design_button h2 {
  padding-top: 50px;
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #282938;
  max-width: 844px;
}
#readcase .Design_button p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #282938;
  opacity: 0.7;
  max-width: 624px;
  margin: auto;
  padding-top: 20px;
}
#readcase .Design_button button {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #1b1c2b;
  background: #fcd980;
  border-radius: 41px;
  padding: 16px 12%;
  text-align: center;
  margin: 5% 26%;
}

/*# sourceMappingURL=style.css.map */
