.head {
  background-color: #fff;
}
.asked-head {
  padding-right: 20px;
}
.asked {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
}
.for {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #2405f2;
  opacity: 0.87;
  padding-top: 16px;
}
.reqam {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #2405f2;
  padding-right: 54px;
}
